
<div class="container">
  <div class="login">
    <form [formGroup]="form" (submit)="next()">
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="juan" formControlName="name" />
        <mat-hint>nombre del profesor</mat-hint>
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="perez" formControlName="surname" />
        <mat-hint>Apellido del profesor</mat-hint>
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>descripción</mat-label>
        <input matInput placeholder="desarrollador front exp en react y vue" formControlName="description" />
        <mat-hint>descripción del profesor</mat-hint>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ancho button"
        [disabled]="form.invalid"
      >
        {{ modeToSpanish(mode) }}
      </button>
    </form>
  </div>
</div>
