
<div class="body">

  <div class="login">

   <img src="./../../../assets/img/login.png" width="50%">
   <h1>signup</h1>
   <form   [formGroup]="form" (ngSubmit)="signup()">
   <mat-form-field class="ancho" appearance="fill" >
       <mat-label>email</mat-label>
       <input matInput autocomplete="off" formControlName="username" type="email">
     </mat-form-field>
     <mat-form-field class="ancho" appearance="fill">
       <mat-label>contraseña</mat-label>
       <input matInput autocomplete="off" formControlName="password" type="password">
     </mat-form-field>
     <br>
     <mat-form-field class="ancho" appearance="fill">
      <mat-label>role</mat-label>

      <mat-select name="role" formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
    </mat-form-field>
     <button type="submit" mat-raised-button color="primary" class="ancho button" [disabled]="form.invalid">Ingresar</button>
   </form>
   <br>

  </div>
</div>
