<mat-toolbar color="primary">
    <span routerLink="./">gestión de curso</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="students" *ngIf="isLoged()">estudiantes</button>
    <button mat-button routerLink="courses" *ngIf="isLoged()" >cursos</button>
    <button mat-button routerLink="auth"  *ngIf="!isLoged()">login</button>
    <span class="example-spacer"></span>
    <button mat-icon-button  (click)="logout()" *ngIf="isLoged()" matTooltip="Cerrar sesión" >
      <mat-icon>logout</mat-icon>
  </button>
  </mat-toolbar>
